<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin Disease Resources</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Resources.css') }}">

    
</head>
<body>
    <div class="container">
        <h1>Skin Disease Resources</h1>

        <div class="resources">
            <div class="resource-item">
                <h3>Article: Understanding Eczema</h3>
                <p>Eczema, or atopic dermatitis, is a common skin condition. Learn about its causes, symptoms, and treatment options.</p>
                <a href="https://my.clevelandclinic.org/health/diseases/9998-eczema" class="read-more-btn"><span>Read More</span></a>
            </div>

            <div class="resource-item">
                <h3>Article: Psoriasis Explained</h3>
                <p>Psoriasis is a chronic autoimmune disease that affects the skin. Discover the different types and how to manage them.</p>
                <a href="https://www.psoriasis.org/about-psoriasis/" class="read-more-btn"><span>Read More</span></a>
            </div>

            <div class="resource-item">
                <h3>Book: Skin Care: A Comprehensive Guide</h3>
                <p>A detailed guide covering various skin conditions and effective skincare routines.</p>
                <a href="https://www.amazon.in/Complete-Skincare-Handbook-Guide-Radiant-ebook/dp/B0CXMP19S8" class="read-more-btn"><span>Read More</span></a>
            </div>

            <div class="resource-item">
                <h3>Article: Acne Treatment Options</h3>
                <p>Acne can affect anyone at any age. Explore various treatments and preventative measures.</p>
                <a href="https://www.aad.org/public/diseases/acne/causes" class="read-more-btn"><span>Read More</span></a>
            </div>
        </div>

        <div class="precautions">
            <h2>Precautions</h2>
            <ul>
                <li>Avoid harsh soaps and detergents.</li>
                <li>Moisturize your skin regularly.</li>
                <li>Protect your skin from excessive sun exposure.</li>
                <li>Identify and avoid allergens.</li>
                <li>Consult a dermatologist for persistent skin issues.</li>
            </ul>
        </div>

        <div class="food-recommendations">
            <h2>Recommended Foods</h2>
            <ul>
                <li>Foods rich in Omega-3 fatty acids (fish, flaxseeds).</li>
                <li>Fruits and vegetables high in antioxidants (berries, spinach).</li>
                <li>Foods with Vitamin D (fortified milk, eggs).</li>
                <li>Hydrating foods (cucumber, watermelon).</li>
                <li>Foods with zinc (nuts, seeds).</li>
            </ul>
        </div>
    </div>
    <button class="home-button" onclick="window.location.href='/'">Go to Home</button>
</body>
</html>
